@import "var.css";

body {
    font-family: Arial, sans-serif;
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    min-width: 320px;
    min-height: 100vh;
    font-size: 20px;
}

/*Navigation Start*/

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__list {
    list-style: none;
    display: inline-flex;
    column-gap: 40px;
    
}

.navigation__link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 22px;
    font-weight: normal;
    color: #FFFFFF;
}


.navigation__link:hover {
    color: yellow;
    transition-duration: 0.5s;
}

.navigation__link:active {
    color: orange;
}



.search__button {
    background: transparent;
    border: #6C0287 solid 3px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 22px;
    padding: 12px 32px;
    cursor: pointer;
}

.search__button:hover {
    background-color: #6C0287;
    transition-duration: 0.3s;
}

.search__button:focus {
    background-color: #6C0287;
}

.search__button:active {
    background-color: #640AA3;
}

/*Navigation END*/

/*Header_wrapper Start*/

h1, h2, h3 {
    font-family: "Arial", sans-serif;
    font-weight: 900;
    margin: 0;
}

h2, h3 {
    font-family: "Arial", sans-serif;
    font-weight: 700;
    margin: 0;
}


.container {
    max-width: 1180px;
    padding: 0 30px;
    margin: 0 auto;
}

section {
    padding: 20px 0;
}

.main__container {
    position: relative;
    height: 820px;
    overflow: hidden;
}

.main__container:before {
    content: "";
    position: absolute;
    top: 200px;
    left: 0;
    background-image: url(../img/game-over-banner.svg);
    background-position: top;
    background-repeat: repeat-y;
    height: 100%;
    width: 100%;
    z-index: -2;
}

.main__container::after {
    content: "";
    background: url(../img/banner.png);
    width: 675px;
    height: 762px;
    position: absolute;
    right: 0;
    top: 100px;
    z-index: -1;
}

.main__title {
    line-height: 1;
    letter-spacing: -0.1em;
    font-size: 200px;
}

.main__subtitle {
    font-weight: 400;
    padding-left: 211px;
    font-size: 28px;
    
}

.main__text-block {
    width: 410px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 350px;
}

.main__text-block::after {
    background: url(/img/down-button.svg) no-repeat;
    width: 97px;
    height: 97px;
}

.main__text-purple {
    color: var(--text-purple);

}

.main__text-purple_number {
    font-size: 100px;
    width: 190px;
    text-align: center;
}

.main__text-purple_text {
    display: flex;
    font-size: 80px;
    width: 169px;
    align-items: flex-end;
}

.main__text {
    font-size: 28px;
    width: 180px;
    text-align: center;
}

.main__button {
    background: var(--text-purple);
    border:none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 22px;
    padding: 25px 69px;
    font-size: 26px;
    position: absolute;
    bottom: 100px;
}

.main__button:hover {
    background-color: #840AA3;
    transition-duration: 0.3s;
}

.main__button:focus {
    background-color: #840AA3;
}

.main__button:active {
    background-color: #640AA3;
}

.main__button-down {
    background: url(/img/down-button.svg) no-repeat;
    width: 97px;
    height: 97px;
    position: absolute;
    left: 550px;
    bottom: 40px;
    z-index: 1;
}

.main__button-down:hover .main__button-down:focus {
    background: url(/img/main_button_hover_white.svg);
    transition-duration: 0.3s;
}

.main__button-down:active {
    background: url(/img/main_button_hover_purple.svg);
}



/*Header_wrapper End*/

/*Friends Start*/

.friends__title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 50px;
    margin-bottom: 41px;
}

.friends__list{
    display: flex;
    align-items: center;
    flex-wrap:nowrap;
    gap: 20px;
    list-style: none;
    margin-bottom: 40px;
}

.friends__item {
    transition: 1s;
}

.friends__item:hover {
    transform: scale(1.1);
}

.friends__item-audio{
    background: url(/img/audio.jpg);
    width: 380px;
    height: 228px;
}

.friends__item-games{
    background: url(/img/game.jpg);
    width: 380px;
    height: 228px;
}

.friends__item-playstation{
    background: url(/img/sony.jpg);
    width: 380px;
    height: 228px;
}

.friends__item-service{
    background: url(/img/netflix.jpg);
    width: 380px;
    height: 228px;
}

.friends__item-sing{
    background: url(/img/micro.jpg);
    width: 380px;
    height: 228px;
}

.friends__item-vr{
    background: url(/img/vr.jpg); 
    width: 380px;
    height: 228px;  
}

/*Friends END*/



/*Room Start*/

.room__title {
    font-family: Arial;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 40px;
}

.room {
    display: flow-root;
}

.room__list {
    list-style: none;
}

.room__text {
    width: 252px;
    height: 160px;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
    text-transform: uppercase;
    position: relative;
    left: 150px;
    top: 20px;
}

.room__item {
    position: relative;
    float: right;
    list-style: none;
    text-align: center;
    line-height: 710px;
    font-size: 60px;
    margin-bottom: 20px;
    width: 560px;
    height: 349px;
}

.room__item:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.room__item:not(:nth-child(2n)) {
    float: left;
}


.room__item-1 {
    content: "";
    background: url(../img/vibe-80s.jpg)no-repeat;
    background-size: contain;
}

.room__item-2 {
    content: "";
    background: url(../img/star-wars.jpg)no-repeat;
    background-size: contain;
}


.room__item-3 {
    content: "";
    background: url(../img/wild-west.jpg)no-repeat;
    background-size: contain;
}


.room__item-4 {
    content: "";
    background: url(../img/neon.jpg)no-repeat;
    background-size: contain;
}

/*Room END*/

/*Reserve Start*/

.container__reserve {
    border: 0 none;
    background-color:#440F51;
    padding: 80px 145px;
    
}

.reserve__fieldset-top {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 40px;
}


.reserve__fieldset {
    border:0 none;
}

.reserve__title {
    text-align: center;
    margin-bottom: 40px;
}

.reserve__undertitle {
    display: inline;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.reserve__list-top {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
    gap: 60px;
}

.reserve__item-top {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.reserve__fieldset-label {
	padding: 8px 15px;
	border-radius: 8px;
    background-color: var(--text-color);
    color: #1B1A1B;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    width: 220px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}


.reserve__item-top:hover  + .reserve__fieldset-label {
    background: #EADEED;
    border: 3px solid #640AA3;
}

.reserve__item-top:focus  + .reserve__fieldset-label {
    background: #FFFFFF;
    border: 3px solid #640AA3;
}

.reserve__item-top:active  + .reserve__fieldset-label {
    background: #EADEED;
}

.reserve__fieldset-middle {
    text-align: center;
}


.reserve__middle {
    display: flex;
    justify-content: space-around;
}

.reserve__list-middle {
    list-style: none;
    margin-bottom: 21px;
}

.reserve__item-middle {
    margin-bottom: 21px;
}

.reserve__item-middle input[type='radio'] {
    margin-right: 10px;
}

.reserve__item-middle input[type='checkbox'] {
    margin-right: 10px;
}

.reserve__item-middle input:focus {
    outline: 2px #CD06FF solid;
}

.reserve__undertitle-middle {
    text-align: center;
    margin-bottom: 40px;
}

.reserve__button-bottom {
  color: #6C0287;
  padding: 16px 50px;
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
  border-radius: 10px;
  height: 60px;
}

.reserve__fieldset-bottom{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    min-width: min-content;
    max-width: max-content;
    justify-content: center;
}

.reserve__div {
    position: relative;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 36px;
    width: 310px;
    padding: 0;
    border: none;
}

.reserve__div label {
    position: absolute;
}

.reserve__div label:nth-of-type(1) { top: -25px; }
.reserve__div label:nth-of-type(2) { top: 60px; }


#date {
    width: 129px;
}

#time {
    width: 129px;
}

.reserve__item-bottom {
    width: 292px;
    height: 46px;
    display: inline-flex; 
}

.reserve__item-bottom:focus, .reserve__item-bottom:active {
    outline: none;
    box-shadow: inset 0 0 1px 2px #cd06ff;
}



/*Reserve END*/

/*About Start*/

.about {
    padding-bottom: 100px;
}


.about__title {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.about__block {
    position: relative;
    margin: 0 auto;
}

.about__img {
    background: url(../img/about-photos.png);
    width: 600px;
    height: 596px;
    top:0px;
    left:0px;
}

.about__text {
    font-weight: normal;
    font-size: 20px;    
    line-height: 28px;
    width: 500px;
    padding-left: 680px;
}

.about__author {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 44px;
    line-height: 50px;
    width: 469px;
    margin-bottom: 20px;
}

.about__author::before {
    content: '“ ';
    color: var(--text-purple);
    font-weight: 900;
    font-size: 44px;
    line-height: 50px;
    margin-right: -10px; 
}

.about__author::after {
    content: '”';
    color: var(--text-purple);
    font-weight: 900;
    font-size: 44px;
    line-height: 50px;
    margin-left: -10px; 
}

.about__creator {
    list-style: none;
    display: inline-block;
}

.about__creator-img {
    display: inline-block;
    background-image: url(../img/man.png);
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    margin-left: 50px;
}

.about__creator-text {
    display: inline-block;
    font-size: 20px;
    list-style: none;
    width: 280px;
    margin-left: 100px;
}

/*About END*/

/*Otzov Start*/


.otzov {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin: 0 auto;
    position: relative;
}

.otzov__title {
    text-align: center;
    padding-bottom: 40px;
}

.otzov__list {
    display: inline-block;
    list-style: none;
}

.otzov__name {
    padding-left: 65px;
    padding-top: 40px;
}


.otzov__text {
    display: inline-block;
    margin-left: 300px;
    width: 520px;
    height: 120px;
    padding-top: 60px;
    font-weight: normal;
}


.otzov__img-1 {
    background: url(../img/Maks_otzov.png) no-repeat;
    width: 280px;
    height: 280px;
}

.otzov__img-2 {
    background: url(../img/Oksana_otzov.png) no-repeat;
    width: 280px;
    height: 280px;
    margin-top: 80px;
}

.otzov__img-3 {
    background: url(../img/Nikita_otzov.png) no-repeat;
    width: 280px;
    height: 280px;
    margin-top: 80px;
}


/*OtzovEND*/


/*FAQ Start*/

.faq__title {
    line-height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    padding-bottom: 40px;
}

.faq__list {
    list-style: none;
    position: relative;
}


.faq__item {
    background-color: var(--text-color);
    color: var(--main-color);
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    margin-bottom: 20px;
    transform: translateY(-10%);
}

.faq__active {
    width: 780px;
    font: inherit;
    color: inherit;
    cursor: pointer;
}


.faq__item:nth-child(even) {
    background-color: var(--background-purple);
    color: var(--text-color);
}


.faq__item:nth-child(even)
.faq__active:after {
    content: "";
    background-image: url(../img/open.svg);
    background-size: contain;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 50px;
    top:18px;
}

.faq__item:nth-child(odd)
.faq__active:after {
    content: "";
    background-image: url(../img/open-purple.svg);
    background-size: contain;
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    right: 50px;
    top: 18px;
}

.faq__item:nth-child(even)
.faq__active:hover:after {
    background-image: url(/img/open_hover_purple.svg);
    background-size: contain;
    transition-duration: 0.3s;
   }

.faq__item:nth-child(odd)
.faq__active:hover:after {
    background-image: url(/img/open_hover_white.svg);
    background-size: contain;
    transition-duration: 0.3s;
}

.faq__active:hover {
    opacity: 0.8;
}

.faq__active:focus {
    outline: none;
}

.faq__active:active {
    outline: 2px solid black;
    border-radius: 5px;
}

.faq__accordions-content {
    font-size: 20px;
    font-weight: 400;
}

/*FAQ END*/

/*Contact Start*/


.contact__title {
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
}

.contact__info {
    width: 360px;
    display: inline-block;
}

.contact__items {
    display: inline-block;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    display:inline-block;
    list-style: none;
}

.contact__location {
    background: url(../img/location.svg) no-repeat;
}

.contact__phone {
    background: url(../img//phone-call.svg) no-repeat;
}

.contact__mail {
    background: url(../img/mail.svg) no-repeat;
}

.contact__items a {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
}


.contact__item {
    color: var(--text-color);
    text-decoration: none;
    padding-left: 50px;
    margin-bottom: 30px;
}

/*Contact END*/

/*Footer Start*/

.social__item {
    display: inline-block;   
}

.social__link_inst {
    content: "";
    background: url("../img/instagram.svg");
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 26px;
    
}

.social__link_vk {
    content: "";
    background: url("../img/vk.svg");
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 26px;
}

.social__link_fb {
    content: "";
    background: url("../img/facebook.svg");
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 26px;
}

.social__link_tg {
    content: "";
    background: url("../img/telegram.svg");
    width: 50px;
    height: 50px;
    display: inline-block;
}

.social__link:hover {
    opacity: 0.7;
    transition-duration: 0.3s;
}

.social__link:focus {
    transition-duration: 0.3s;
}

.social__link:active {
    background: url(/img/instagram_hover_purpule.svg);
    opacity: 0.3s;
}

/*Footer END*/














